# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/

# macOS system files
.DS_Store

# Python bytecode
__pycache__/
*.pyc.env

.env

Chapter 2/data/*.pkl