pandas==2.2.3
numpy==2.2.5
yfinance==0.2.56
matplotlib==3.10.0
jupyter==1.1.1
seaborn==0.13.2
scikit-learn==1.6.1
plotly==6.0.1
statsmodels==0.14.4
python-dotenv==1.1.0
requests==2.32.3
scipy==1.15.2
